* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #d3d3d3;
}


/* header style begins (also linked to footer with class) */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url(../images/build-the-Death-Star.jpg);
    background-position: right;
    background-size: 33.37%;
}

/* created this in html and here to give credit to Disney and Lucas Arts (owner of Star Wars) */
header img {
    z-index: 1000;
    position: absolute;
    top: 0;
    height: 10px;
}

header a {
    color: #d3d3d3;
}

.page-link h1 {
    color: #d3d3d3;
    font-size: 48px;
}

.page-link a {
    text-decoration: none;
}

.page-link nav {
    margin: auto 0;
}

.page-link nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}

.page-link nav ul li a {
    padding: 20px 25px;
    font-size: 2.1vw;
    font-weight: lighter;
}


/* independent footer design from header */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Credit: Getty Images/iStockphoto (Creator: Melpomenem) */
    background-image: url(../images/Contact-Me-background.jpg);
    background-attachment: fixed;
    background-position: 25%;
}

footer h2 {
    font-size: 48px;
    text-align: center;
    border-right: 3px solid #ffffff;
    padding: 50px 25px 50px 100px;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

article {
}