* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #d3d3d3;
}


/* header style begins (also linked to footer with class) */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url(../images/build-the-Death-Star.jpg);
    background-position: right;
    background-size: 33.37%;
}
header h1 {
    font-size: 55px;
}

/* created this in html and here to give credit to Disney and Lucas Arts (owner of Star Wars) */
header img {
    z-index: 1000;
    position: absolute;
    top: 0;
    height: 10px;
}

header a {
    color: #d3d3d3;
}

.page-link {
    color: #d3d3d3;
}

.page-link a {
    text-decoration: none;
}

.page-link nav {
    margin: auto 0;
}

.page-link nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}

.page-link nav ul li a {
    padding: 20px 25px;
    font-size: 30px;
    font-weight: lighter;
}


/* independent footer design from header */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Credit: Getty Images/iStockphoto (Creator: Melpomenem) */
    background-image: url(../images/Contact-Me-background.jpg);
    background-attachment: fixed;
    background-position: 100px 180px;
}

footer h2 {
    font-size: 48px;
    text-align: center;
    border-right: 3px solid #ffffff;
    padding: 50px 25px 50px 100px;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

/* section with my picture begins */
.portrait-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #008080;
}

.code-pun {
    width: 25%;
    padding: 75px 25px 75px 100px;
    border-right: 3px solid #d3d3d3;
    margin: 10px 0;
    text-align: center;
}

.code-pun h2 {
    font-size: 32px;
    text-align: center;
}

.code-pun .random-comment {
    font-size: 22px;
}

.portrait-section img {
    width: 160px;
    height: 200px;
}

/* about me styling begins */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000000;
    background-image: url(../images/teal-nebula-galaxy.jpg);
    background-position: right;
    background-size: 33.37%;
}

.about-me h2 {
    width: 100%;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}

.about-me p {
    color: #ffffff;
    width: 15%;
    padding-top: 20px;
    font-size: 24px;
}

.about-me img {
    width: 160px;
    height: 200px;
}