* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #d3d3d3;
}


/* header style begins (also linked to footer with class) */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url(../images/build-the-Death-Star.jpg);
    background-position: right;
    background-size: 33.37%;
}
header h1 {
    font-size: 55px;
}

/* created this in html and here to give credit to Disney and Lucas Arts (owner of Star Wars) */
header img {
    z-index: 1000;
    position: absolute;
    top: 0;
    height: 10px;
}

header a {
    color: #d3d3d3;
}

.page-link {
    color: #d3d3d3;
}

.page-link a {
    text-decoration: none;
}

.page-link nav {
    margin: auto 0;
}

.page-link nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}

.page-link nav ul li a {
    padding: 20px 25px;
    font-size: 30px;
    font-weight: lighter;
}


/* independent footer design from header */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Credit: Getty Images/iStockphoto (Creator: Melpomenem) */
    background-image: url(../images/Contact-Me-background.jpg);
    background-position: 100px 80px;
}

footer h2 {
    font-size: 48px;
    text-align: center;
    border-right: 3px solid #ffffff;
    padding: 50px 25px 50px 100px;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}
/* footer and heading styling ends */



/* section with my picture begins */
.portrait-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #008080;
    height: 750px;
}

.code-pun {
    width: 25%;
    padding: 150px 25px 150px 100px;
    border-right: 3px solid #d3d3d3;
    margin: auto 0;
    text-align: center;
    font-size: 25px;
}

.code-pun h2 {
    font-size: 35px;
    text-align: center;
    background-color: #008080;
    color: #d3d3d3;
}

.code-pun .random-comment {
    font-size: 25px;
}

.portrait-section img {
    width: 350px;
    height: 500px;
    margin-top: 125px;
    margin-left: 350px;
    border-radius: 350px 0 0;
}
/* my portrait styling ends */



/* about me styling begins */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000000;
    background-image: url(../images/teal-nebula-galaxy.jpg);
    background-position: right;
    background-size: 25%;
    padding-bottom: 50px;
}

.about-me h2 {
    width: 100%;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}

.about-me div {
    margin-left: 50px;
    margin-right: 50px
}

.about-me p {
    color: #ffffff;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}
/* about me style ends */



/* my work styling begins */
.my-content {
    background-image: url(../images/NOVA-universe.jpg);
    position: relative;
    background-position: 0 -150px;
    text-align: center;
    font-size: 35px;
    padding: 20px 0 30px 0;
}

.flex-flow h2 {
    padding-bottom: 25px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.project {
    border: 3px solid #008080;
    background-color: #008080;
    width: 35%;
    margin-top: 20px;
}

.project img {
    width: 100%;
}

.project-info {
    padding: 10px;
    line-height: 1.0;
}

.project-info a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 28px;
}

.project h3 {
    font-size: 28px;
    text-align: center;
}

/* increases size of my work when mouse is hovered on box */
.project:hover {
    width: 45%;
}
/* my work styling ends */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 980px) {
    header {
        position: relative;
        justify-content: center;
    }

    header h1 {
        text-align: center;
        width: 100%;
    }

    footer h2 {
        text-align: center;
        width: 100%;
        padding: 0 0 20px 20px;
    }

    footer nav {
        text-align: center;
        justify-content: center;
        padding-left: 110px;
    }

    .portrait-section .code-pun {
        width: 25%;
        object-position: 0 100px;
        border: none;
        margin-bottom: 50px;
        padding: 0 0 100px 50px;
    }

    .portrait-section .code-pun h2 {
        font-size: 25px;
    }

    .portrait-section img {
        width: 30%;
        margin-top: 75px;
    }

    .project:hover {
        width: 45%;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .portrait-section .code-pun p {
        text-align: center;
        width: 91%;
        font-size: 28px;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .code-pun {
        text-align: center;
        width: 150%;
    }
}